.p {
  font-size: 18px;
  line-height: 1.5em;
}

.figcaption {
  font-size: 12px;
  max-width: 300px;
}

.figure {
  margin: 0;
}

@media screen and (min-width: 800px) {
  .wideFigure {
    padding-left: 35%;
  }
}

.published {
  font-size: 12px;
  opacity: 30%;
}

.blogTitle {
  margin: 0;
}

.blogMain {
  max-width: 800px;
  margin-top: 50px;
}

.sectionTitle {
  margin-bottom: 2em;
}

.image {
  border: 2px solid black !important;
}
